---
layout: default
---

<div class="home">
  <h1 class="site-title">{{ site.title }}</h1>
  {% if site.description %}
  <p class="site-tagline">{{ site.description }}</p>
  {% endif %}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <a href="{{ post.url | relative_url }}" class="post-link">
          {{ post.title }}
        </a>
        <span class="post-date">
          {{ post.date | date: "%B %-d, %Y" }}
        </span>
      </li>
    {% endfor %}
  </ul>
</div>
