css

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.7;
    color: #000;
    background: #fff;
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 20px;
}

header {
    font-size: 17px;
    margin-bottom: 25px;
}

header a {
    color: #000;
    text-decoration: none;
}

.post-nav ul {
    list-style-type: disc;
    padding-left: 18px;
    margin: 0 0 30px 0;
}

.post-nav li {
    margin-bottom: 1px;
}

.post-nav a {
    color: #000;
    text-decoration: none;
}

.post-nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 30px 0 20px 0;
    line-height: 1.2;
}

p {
    margin-bottom: 17px;
}

a {
    color: #000;
    text-decoration: underline;
}

a:hover {
    color: #666;
}

article h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

article p {
    margin-bottom: 20px;
    line-height: 1.7;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}
